.navbar {
  backdrop-filter: blur(20px) !important;
  background: rgba(255, 255, 255, 0.7) !important;
}

.link-container #navlink {
  margin-left: 5px;
  text-decoration: none;
}

.link-active Button {
  background-color: #e74c3c;
}

.link-inactive Button {
  background-color: #3498db;
}
